<ion-view title="PugliaSOS">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card" ng-repeat="entry in entries">
      <div class="item item-avatar">
        <h2>{{ entry.author|authorName }}</h2>
        <p>{{ entry.publishedDate|dateFormat }}</p>
      </div>
      <div class="item item-body">
        <h2>{{ entry.title }}</h2>
        <div ng-bind-html="trust(entry.content)"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
